{%load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="shortcut icon" href="{% static 'backend/images/favicon.png' %}" type="image/x-icon"/>
		<title>DNSDAD</title>
		<!--Stylesheet-->
		<link href="{% static 'backend/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'backend/fonts/fonts.css' %}" rel="stylesheet">
		<link href="{% static 'backend/css/nice-select.css' %}" rel="stylesheet">
		<link href="{% static 'backend/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'backend/css/responsive.css' %}" rel="stylesheet">
		<link href="{% static 'backend/css/backend.css' %}" rel="stylesheet">
		<!--Stylesheet-->
	</head>
	<body>
		<div class="main-wapper">

			<header class="header d-md-none d-flex">
				<div class="header_inner d-flex">
					<div class="header_log">
						<a href="#">
							<img src="{% static 'backend/images/logo.svg' %}" alt="">
						</a>
					</div>
					<div class="menubar">
						<button class="hamburger-icon">
							<span class="navbar-toggler-icon"></span>
						</button>
                    </div>
				</div>
			</header>

			<!--Header : start-->
			<div class="sidebar">
				<div class="sidebar_inner">
					<div class="sidebar_logo">
						<div class="logo">
							<a href="{% url 'dashboard' %}">
								<img src="{% static 'backend/images/logo.svg' %}" alt="">
							</a>
						</div>
					</div>
					<div class="sidebar_menu">
						<ul class="menu">
							<li class="current-menu">
								<a href="{% url 'dashboard' %}">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12.0027 16.8941V14.4484M10.4586 4.5187L4.91456 9.04325C4.29056 9.54869 3.89056 10.6167 4.02656 11.4156L5.09056 17.9048C5.28256 19.0625 6.37056 20 7.52256 20H16.4826C17.6266 20 18.7226 19.0543 18.9146 17.9048L19.9786 11.4156C20.1066 10.6167 19.7066 9.54869 19.0906 9.04325L13.5466 4.52685C12.6906 3.82575 11.3066 3.82575 10.4586 4.5187Z" stroke="currentcolor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</i>
									Home
								</a>
							</li>
							<li>
								<a href="{% url 'app.setting' %}">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M5 9.66228V14.3296C5 16.0445 5 16.0445 6.55556 17.1365L10.8333 19.7088C11.4789 20.0971 12.5289 20.0971 13.1667 19.7088L17.4444 17.1365C19 16.0445 19 16.0445 19 14.3377V9.66228C19 7.95551 19 7.95551 17.4444 6.8635L13.1667 4.2912C12.5289 3.90293 11.4789 3.90293 10.8333 4.2912L6.55556 6.8635C5 7.95551 5 7.95551 5 9.66228Z" stroke="currentcolor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M12 14.4268C13.2887 14.4268 14.3333 13.3403 14.3333 12.0001C14.3333 10.6599 13.2887 9.57342 12 9.57342C10.7113 9.57342 9.66667 10.6599 9.66667 12.0001C9.66667 13.3403 10.7113 14.4268 12 14.4268Z" stroke="currentcolor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</i>
									App settings
								</a>
							</li>
							<li>
								<a href="{% url 'billing' %}">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M13.9444 6V7.6C13.9444 8.48 14.6444 9.2 15.5 9.2H17.0556M8.88889 12.8H12M8.88889 16H15.1111M19 8V16C19 18.4 17.8333 20 15.1111 20H8.88889C6.16667 20 5 18.4 5 16V8C5 5.6 6.16667 4 8.88889 4H15.1111C17.8333 4 19 5.6 19 8Z" stroke="currentcolor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</i>
									Billing
								</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12.2 12C12.2 14.65 10.144 16.7917 7.6 16.7917C5.056 16.7917 3 14.65 3 12C3 9.35 5.056 7.20833 7.6 7.20833M9.4 12C9.4 9.24167 11.552 7 14.2 7C16.848 7 19 9.24167 19 12C19 14.7583 16.848 17 14.2 17" stroke="currentcolor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</i>
									Connect
								</a>
								<ul class="sub-menu">
									<li></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="#">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.9962 12.3982C12.8635 12.3982 13.5666 11.6815 13.5666 10.7974C13.5666 9.91325 12.8635 9.19655 11.9962 9.19655C11.1289 9.19655 10.4258 9.91325 10.4258 10.7974C10.4258 11.6815 11.1289 12.3982 11.9962 12.3982ZM11.9962 12.3982V14.7994M18.9921 11.2936C18.9921 15.2076 16.2047 18.8734 12.3965 19.946C12.1374 20.018 11.8547 20.018 11.5956 19.946C7.78743 18.8734 5 15.2076 5 11.2936V7.77987C5 7.12354 5.48683 6.37917 6.09143 6.13104L10.4649 4.30615C11.4464 3.89795 12.5536 3.89795 13.535 4.30615L17.9086 6.13104C18.5053 6.37917 19 7.12354 19 7.77987L18.9921 11.2936Z" stroke="currentcolor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</i>
									Secure
								</a>
								<ul class="sub-menu">
									<li>
										<a href="#">
											<h6>Usage</h6>
											<p>View your Entri Connect usage & logs.</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h6>Providers</h6>
											<p>View the supported providers and their status.</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="#">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M5.9917 10.0083V16.0166L7.9834 16.0166V10.0083L5.9917 10.0083ZM5.9917 10.0083C5.9917 6.70835 8.70005 4 12 4C15.3 4 18.0083 6.70835 18.0083 10.0083M5.9917 15.0207C5.9917 15.0207 4 15.9834 4 12.9959C4 10.0083 5.9917 11.0042 5.9917 11.0042M18.0083 10.0083V16.0166M18.0083 10.0083H16.0166V16.0166H18.0083M18.0083 16.0166L18.0083 17.0124C18.0083 18.1124 17.1166 19.0041 16.0166 19.0041H13.9917M18.0083 15.0207C18.0083 15.0207 20 15.9834 20 12.9959C20 10.0083 18.0083 11.0042 18.0083 11.0042M13.9917 19.0041C13.9917 18.4542 13.5458 18.0083 12.9958 18.0083H12C11.45 18.0083 11.0041 18.4542 11.0041 19.0041C11.0041 19.5541 11.45 20 12 20H12.9958C13.5458 20 13.9917 19.5541 13.9917 19.0041Z" stroke="currentcolor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</i>
									Help
								</a>
								<ul class="sub-menu">
									<li></li>
								</ul>
							</li>
							<li>
								<a href="{% url 'logout' %}">
									<i>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M5 9.66228V14.3296C5 16.0445 5 16.0445 6.55556 17.1365L10.8333 19.7088C11.4789 20.0971 12.5289 20.0971 13.1667 19.7088L17.4444 17.1365C19 16.0445 19 16.0445 19 14.3377V9.66228C19 7.95551 19 7.95551 17.4444 6.8635L13.1667 4.2912C12.5289 3.90293 11.4789 3.90293 10.8333 4.2912L6.55556 6.8635C5 7.95551 5 7.95551 5 9.66228Z" stroke="currentcolor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M12 14.4268C13.2887 14.4268 14.3333 13.3403 14.3333 12.0001C14.3333 10.6599 13.2887 9.57342 12 9.57342C10.7113 9.57342 9.66667 10.6599 9.66667 12.0001C9.66667 13.3403 10.7113 14.4268 12 14.4268Z" stroke="currentcolor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</i>
									Logout
								</a>
							</li>
						</ul>
					</div>
					<div class="sidebar-user-wrap">
						<a href="#" class="sidebar-user-inner">
							<div class="sidebar-user-img">
								<div class="sidebar-user-img-box">
									<img src="{% static 'backend/images/user-image.jpg' %}" alt="">
								</div>
							</div>
							<div class="sidebar-user-dtl">
								<div class="name_user">{{ request.user.username }}</div>
								<div class="mail_user">{{ request.user.email }}</div>
							</div>
							<div class="down_icon">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8 10L12 14L16 10" stroke="currentcolor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--Header : End-->

		{%block content%} 
		{%endblock content%}

			
		</div>
		{% csrf_token %}

		<!--JavaScript-->
		<script src="{% static 'backend/js/jquery-3.6.0.min.js' %}"></script>

		<script>
			$.ajaxSetup({
					headers: {
						'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
					}
			});
		</script>
		<script src="{% static 'backend/js/popper.min.js' %}"></script>
		<script src="{% static 'backend/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'backend/js/nice-select.min.js' %}"></script>
		<script src="{% static 'backend/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'backend/js/dataTables.bootstrap5.min.js' %}"></script>
		<script src="{% static 'backend/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'backend/js/responsive.bootstrap5.min.js' %}"></script>
		<script src="{% static 'backend/js/script.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="{% static 'backend/js/app-setting.js' %}"></script>
		<script src="{% static 'backend/js/dashboard.js' %}"></script>
		<script>
			new DataTable('#example111', {
				responsive: true,
				"info": false,
				"lengthChange": false,
				"dom": '<lf<t>ip>',
				language: {
					searchPlaceholder: "Search here..."
				}
			});
			$(document).ready(function() {
				$('select').niceSelect();
			});
		</script>
		<!--JavaScript-->
	</body>
</html>