<div class="modal fade addapplicationmodal" id="addapplicationmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="closed-modal">
                    <a href="#" data-bs-dismiss="modal">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12C20 13.5 19.58 14.92 18.84 16.12C18.42 16.84 17.88 17.48 17.26 18C15.86 19.26 14.02 20 12 20C9.08 20 6.54 18.44 5.16 16.12C4.42 14.92 4 13.5 4 12C4 9.48 5.16 7.22001 7 5.76001C8.38 4.66001 10.12 4 12 4C16.42 4 20 7.58 20 12Z" stroke="currentcolor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.5 14.4365L12.0317 11.9654M12.0317 11.9654L9.56908 9.5M12.0317 11.9654L14.4475 9.54691M12.0317 11.9654L9.5 14.5" stroke="currentcolor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                <div class="addapplication_title">
                    <h6>Add Card</h6>
                </div>
                <form action="{% url 'app.create' %}" method="post" id="app_form" name="app_form">
                    {% csrf_token %}
                    <div class="form_wrap">
                        <div class="form_row">
                            <div class="form_col">
                                <div class="input_blk">
                                    <label for="app_name">Application Name</label>
                                    <div class="input_wrp">
                                        <input type="text" name="app_name" id="app_name" placeholder="Type here..." class="input_field">
                                    </div>
                                </div>
                            </div>
                            {% comment %}  <div class="form_col">
                                <div class="input_blk">
                                    <label for="">Application ID</label>
                                    <div class="input_wrp">
                                        <input type="text" name="" id="" placeholder="Type here..." class="input_field">
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <div class="form_col form_col_action">
                                <div class="w3n_btn_box">
                                    <button type="submit" class="w3n_btn">Add Application</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% comment %} add billing {% endcomment %}

<div class="modal fade addcardmodal" id="addcardmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="addcard_title">
                    <h6>Add Card</h6>
                </div>
                <form action="">
                    <div class="form_wrap">
                        <div class="form_row">
                            <div class="form_col form_col_half form_col_select">
                                <div class="select_field">
                                    <input type="radio" name="selectpayment" id="selectpayment1">
                                    <label for="selectpayment1">
                                        <i>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 9.12005H20M7.2 15.7121H8.8M10.8 15.7121H14M7.552 5H16.44C19.288 5 20 5.72513 20 8.6174V15.3825C20 18.2748 19.288 18.9999 16.448 18.9999H7.552C4.712 19.0082 4 18.283 4 15.3908V8.6174C4 5.72513 4.712 5 7.552 5Z" stroke="currentcolor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </i>
                                        Card
                                    </label>
                                </div>
                            </div>
                            <div class="form_col form_col_half form_col_select">
                                <div class="select_field">
                                    <input type="radio" name="selectpayment" id="selectpayment2">
                                    <label for="selectpayment2">
                                        <i>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.18182 16.9865V11.7128M9.09091 16.9865V11.7128M12 16.9865V11.7128M14.9091 16.9865V11.7128M17.8182 16.9865V11.7128M4 20H20M12.2691 5.0452L18.8145 7.75737C19.0691 7.86284 19.2727 8.17926 19.2727 8.45801V10.9593C19.2727 11.3736 18.9455 11.7126 18.5455 11.7126H5.45455C5.05455 11.7126 4.72727 11.3736 4.72727 10.9593V8.45801C4.72727 8.17926 4.93091 7.86284 5.18546 7.75737L11.7309 5.0452C11.8764 4.98493 12.1236 4.98493 12.2691 5.0452ZM19.2727 20H4.72727V17.7398C4.72727 17.3255 5.05455 16.9865 5.45455 16.9865H18.5455C18.9455 16.9865 19.2727 17.3255 19.2727 17.7398V20ZM13.0909 8.69923C13.0909 9.32336 12.6025 9.82931 12 9.82931C11.3975 9.82931 10.9091 9.32336 10.9091 8.69923C10.9091 8.07511 11.3975 7.56916 12 7.56916C12.6025 7.56916 13.0909 8.07511 13.0909 8.69923Z" stroke="currentcolor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </i>
                                        Bank
                                    </label>
                                </div>
                            </div>
                            <div class="form_col">
                                <div class="input_blk">
                                    <label for="">Card Number</label>
                                    <div class="input_wrp">
                                        <input type="number" name="" id="" placeholder="0000 0000 0000 0000" class="input_field">
                                    </div>
                                </div>
                            </div>
                            <div class="form_col form_col_half">
                                <div class="input_blk">
                                    <label for="">Epiry Date</label>
                                    <div class="input_wrp">
                                        <input type="number" name="" id="" placeholder="MM / YYYY" class="input_field">
                                    </div>
                                </div>
                            </div>
                            <div class="form_col form_col_half">
                                <div class="input_blk">
                                    <label for="">CVV</label>
                                    <div class="input_wrp">
                                        <input type="number" name="" id="" placeholder="000" class="input_field">
                                        <i>
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.9322 11.7119C4.9322 13.9584 6.75342 15.7797 9 15.7797C11.2466 15.7797 13.0678 13.9584 13.0678 11.7119C13.0678 9.46528 11.2466 7.64407 9 7.64407C6.75342 7.64407 4.9322 9.46528 4.9322 11.7119ZM4.9322 11.7119H3.0339C1.91061 11.7119 1 10.8013 1 9.67797V3.0339C1 1.91061 1.91061 1 3.0339 1H14.9661C16.0894 1 17 1.91061 17 3.0339V9.67797C17 10.6189 16.361 11.4106 15.4934 11.6428M14.2881 17L11.8764 14.5882M3.71186 3.71186H14.2881M8.04122 10.7531L9.95878 12.6706M9.95878 10.7531L8.04122 12.6706" stroke="currentcolor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div class="form_col">
                                <div class="input_blk">
                                    <label for="">Country</label>
                                    <div class="input_wrp">
                                        <select name="" id="" class="input_field">
                                            <option value="India">India</option>
                                            <option value="USA">USA</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Rasia">Rasia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form_col">
                                <div class="term_box">
                                    <p>By providing your card information, you allow Entri LLC to charge your card for future payments in accordance with their terms.</p>
                                </div>
                            </div>
                            <div class="form_col">
                                <div class="term_box">
                                    <p>You can review important information from Entri LLC on their <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a> pages.</p>
                                </div>
                            </div>
                            <div class="form_col form_col_half form_col_action form_col_cancle_action">
                                <div class="cancle_btn">
                                    <a href="#" data-bs-dismiss="modal">Cancel</a>
                                </div>
                            </div>
                            <div class="form_col form_col_half form_col_action">
                                <div class="w3n_btn_box">
                                    <button type="submit" class="w3n_btn">Add Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>