
{% extends 'base.html' %}
{%load static %}

{% block content %}
    <section class="contain_wapper">
        <div class="home-wrap">
            <div class="home_banner_wrap">
                <div class="container">
                    <div class="home_banner_txt">
                        <div class="home_banner_slug_wrp">
                            <div class="home_banner_slug">The API for custom domains</div>
                        </div>
                        <h1>Everything you need for <strong>custom domains</strong></h1>
                        <p>Custom domains: The feature your users want, but your engineering team hates</p>
                        <div class="w3n_btn_wrp">
                            <a href="javascript:;" id="btn_show_modal" class="w3n_btn">See a Demo</a>
                            {% comment %} <a href="#" data-bs-toggle="modal" data-bs-target="#seedemomodal" class="w3n_btn">See a Demo</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="how_it_sec">
                <div class="container">
                    <div class="how_it_inner">
                        <div class="section-title">
                            <h2>How it works</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nam maximus nisl vitae consequat hendrerit.</p>
                        </div>
                        <div class="how_it_slider_wrp">
                            <div class="how_it_slider">
                                <div>
                                    <div class="how_it_slider_box">
                                        <div class="how_it_slider_img_box">
                                            <img src="{% static 'images/howit-slider-img-1.jpg' %}" alt="">
                                        </div>
                                        <div class="how_it_slider_dtl">
                                            <div class="how_it_slider_title">
                                                <h6>Launch the Entri modal</h6>
                                                <p>Your user enters the domain they would like to set up. Alternatively, can you pass the domain directly to Entri via our JS SDK.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="how_it_slider_box">
                                        <div class="how_it_slider_img_box">
                                            <img src="{% static 'images/howit-slider-img-2.jpg' %}" alt="">
                                        </div>
                                        <div class="how_it_slider_dtl">
                                            <div class="how_it_slider_title">
                                                <h6>Automatically detects the DNS Provider</h6>
                                                <p>Don't make your users play a guessing game. After the DNS provider is detected, the user logs in with their credentials.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="how_it_slider_box">
                                        <div class="how_it_slider_img_box">
                                            <img src="{% static 'images/howit-slider-img-3.jpg' %}" alt="">
                                        </div>
                                        <div class="how_it_slider_dtl">
                                            <div class="how_it_slider_title">
                                                <h6>The required DNS records are applied</h6>
                                                <p>That’s it! There’s no need for copying and pasting complex records or reading cumbersome documentation.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="how_it_slider_box">
                                        <div class="how_it_slider_img_box">
                                            <img src="{% static 'images/howit-slider-img-3.jpg' %}" alt="">
                                        </div>
                                        <div class="how_it_slider_dtl">
                                            <div class="how_it_slider_title">
                                                <h6>The required DNS records are applied</h6>
                                                <p>That’s it! There’s no need for copying and pasting complex records or reading cumbersome documentation.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entri_sec">
                <div class="container">
                    <div class="entri_inner">
                        <div class="section-title">
                            <h2>With Entri</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nam maximus nisl vitae consequat hendrerit.</p>
                        </div>
                        <div class="entri_img_box">
                            <img src="{% static 'images/entri-image.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="friendly_sec">
                <div class="container">
                    <div class="friendly_inner">
                        <div class="section-title">
                            <h2>Developer friendly set up</h2>
                            <p>Just pass your desired DNS settings to the Entri modal window using a configuration object. <br>Then, Entri will apply these settings for your end user.</p>
                        </div>
                        <div class="friendly_screen_wrap">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="friendly_screen_img">
                                        <img src="{% static 'images/friendly_img_1.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="friendly_screen_img">
                                        <img src="{% static 'images/friendly_img_2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="integration_sec">
                <div class="container">
                    <div class="integration_inner">
                        <div class="section-title">
                            <h2>One integration. Countless DNS providers.</h2>
                            <p>We cover 75% of the market and counting.</p>
                        </div>
                        <div class="integration_bottom_img">
                            <img src="{% static 'images/integration-image.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="solution_sec">
                <div class="container">
                    <div class="solution_inner">
                        <div class="section-title">
                            <h2>Solutions For...</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nam maximus nisl vitae consequat hendrerit.</p>
                        </div>
                        <div class="solution_wrap">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="solution_box">
                                        <div class="solution_img">
                                            <img src="{% static 'images/defult-image.png' %}" alt="">
                                        </div>
                                        <div class="solution_drl">
                                            <h6>Website Builders</h6>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="solution_box">
                                        <div class="solution_img">
                                            <img src="{% static 'images/defult-image.png' %}" alt="">
                                        </div>
                                        <div class="solution_drl">
                                            <h6>Email Tools</h6>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="solution_box">
                                        <div class="solution_img">
                                            <img src="{% static 'images/defult-image.png' %}" alt="">
                                        </div>
                                        <div class="solution_drl">
                                            <h6>CRMs</h6>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="solution_box">
                                        <div class="solution_img">
                                            <img src="{% static 'images/defult-image.png' %}" alt="">
                                        </div>
                                        <div class="solution_drl">
                                            <h6>Marketing Automation</h6>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="easy_setup_sec">
                <div class="container">
                    <div class="easy_setup_inner">
                        <div class="section-title">
                            <h2>Easy setup. Powerful features</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nam maximus nisl vitae consequat hendrerit.</p>
                        </div>
                        <div class="easy_setup_wrap">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="easy_setup_box">
                                        <div class="easy_setup_top_disc">
                                            <h6>Stunning User Experience</h6>
                                            <p>Entri provides a seamless user experience that guides users through the process of logging in with their DNS provider.</p>
                                        </div>
                                        <div class="easy_setup_img">
                                            <img src="{% static 'images/easy-image-1.svg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="easy_setup_box">
                                        <div class="easy_setup_top_disc">
                                            <h6>Data rich webhooks</h6>
                                            <p>Use robust webhooks to notify your backend about the status of a domain. You’ll be able to see which DNS records have been propagated, the user's domain, and more.</p>
                                        </div>
                                        <div class="easy_setup_img">
                                            <img src="{% static 'images/easy-image-2.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="easy_setup_box">
                                        <div class="easy_setup_top_disc">
                                            <h6>Easy login forwarding</h6>
                                            <p>Stop playing a game of telephone. Entri enables users to quickly forward the setup process to the right person on their team.</p>
                                        </div>
                                        <div class="easy_setup_img">
                                            <img src="{% static 'images/easy-image-3.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="get_start_sec">
                <div class="container">
                    <div class="get_start_inner">
                        <div class="get_start_logo">
                            <img src="{% static 'images/get_start_icon.svg' %}" alt="">
                        </div>
                        <div class="section-title">
                            <h2>Ready to <strong>get started?</strong></h2>
                            <p>Integrating Entri is a breeze. You’ll be up and running in no time.</p>
                            <div class="w3n_btn_wrp">
                                <a href="#" class="w3n_btn">See a Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% comment %} 
        show modal
    {% endcomment %}
    <div class="modal fade demomodal" id="seedemomodal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <a href="javascript:void(0)" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M17.9999 17.9999L6 6M18 6L6 18" stroke="currentcolor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <div class="modal-body">
              <div class="modal_main_step">
                <div class="modal_main_img">
                  <img src="{% static 'images/modal-main-bg.svg' %}" alt="dnsdad" class="bottom_bg">
                  <img src="{% static 'images/modal-main-social.svg' %}" alt="dnsdad" class="top_social">
                </div>
                <div class="modal_main_dtl">
                  <div class="title_modal_main">
                    <h5>Example App <span>uses</span> Entri <span>to easily</span> <strong>configure your domain</strong></h5>
                  </div>
                  <div class="modal_main_wrp">
                    <div class="modal_main_grp">
                      <i>
                        <img src="{% static 'images/lock-icon.svg' %}" alt="dnsdad">
                      </i>
                      <h5>Secure</h5>
                      <p>Encrypted login protects your personal data</p>
                    </div>
                    <div class="modal_main_grp">
                      <i>
                        <img src="{% static 'images/check-round-icon.svg' %}" alt="dnsdad">
                      </i>
                      <h5>Easy</h5>
                      <p>No developer needed, automatically configure your domain settings to work with Example App</p>
                    </div>
                  </div>
                  <div class="w3n_btn_wrp">
                    <a href="javascript:;"class="w3n_btn">Continue</a>
                  </div>
                </div>
                <div class="modal_main_notice"><p>By selecting "Continue" you agree to the Entri <a href="javascript:;">Terms of Service</a> and <a href="javascript:;">Privacy Policy</a></p></div>
              </div>
              <div class="step_form_modal" style="display: none;">
                <form action="">
                  <div class="step_back" id="step_back" data-step="step-1">
                    <a href="javascript:;">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 12L3 12M3 12L10.2 19M3 12L10.2 5" stroke="currentcolor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                  </div>
                  <ul class="step_for_pagi">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <div class="step_form_modal_steps">
                    <!-- Step-1 Start -->
                    <div class="step_form_modal_step step_form_modal_step-1 active" id="step-1">
                      <div class="step_form_title">
                        <h5><span>What domain would you like to <br>connect with </span>Example App?</h5>
                      </div>
                      <div class="form_boxes">
                        <div class="form_input_blk">
                          <input type="text" name="txt_domain_name" id="txt_domain_name" class="input-field" placeholder="yourdomain.com">
                        </div>
                        <div class="form_input_conform">
                          <input type="checkbox" name="chk_sub_domain" id="conformation">
                          <label for="conformation">I want to use a subdomain</label>
                        </div>
                        <div class="w3n_btn_wrp">
                          <button class="w3n_btn" id="txt_domain_btn">Continue</button>
                        </div>
                      </div>
                    </div>
                    <!-- Step-1 End -->
    
                    <!-- Step-2 Start -->
                    <div class="step_form_modal_step step_form_modal_step-2" id="step-2" style="display: none;">
                      <div class="step_form_title">
                        <h5><span>Analyzing your domain...</span></h5>
                      </div>
                      <div class="loader-div"></div>
                      <div class="analyze_wrap">
                        <ul class="analyze_blk">
                          <li class="active">Analyzed w3dart.com</li>
                          <li class="active">Detected DNS Provider: <span id="domainconnect"></span></li>
                          <li>Getting your setup ready.</li>
                        </ul>
                      </div>
                      <div class="w3n_btn_wrp">
                        <a href="javascript:;"class="w3n_btn" id="2-btn-loader">Continue</a>
                      </div>
                    </div>
                    <!-- Step-2 End -->
    
                    <!-- Step-3 Start -->
                    <div class="step_form_modal_step step_form_modal_step-3 loding-screen" id="step-3" style="display: none;">
                      <div class="step_form_title">
                        <h5><span>Select your provider</span></h5>
                      </div>
                      <div class="search_filter form_input_blk">
                        <input type="text" name="search_provider_name" id="search_provider_name" class="input-field" placeholder="Search for your provider">
                      </div>
                      <ul class="search_filter_list" id="search_filter_list">
                        <li data-name="123-Reg">
                          <a href="javascript:;">
                            <div class="domain_list_box">
                              <div class="domain_list_left">
                                <div class="logo_domain">
    
                                </div>
                                <div class="domain_name">123-Reg</div>
                              </div>
                              <div class="domain_list_right">
                                <div class="main_domain">123-reg.com</div>
                                <div class="domain_arrow">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li data-name="Amazon Route 53">
                          <a href="javascript:;">
                            <div class="domain_list_box">
                              <div class="domain_list_left">
                                <div class="logo_domain">
    
                                </div>
                                <div class="domain_name">Amazon Route 53</div>
                              </div>
                              <div class="domain_list_right">
                                <div class="main_domain">aws.amazon.com</div>
                                <div class="domain_arrow">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li data-name="Arsys">
                          <a href="javascript:;">
                            <div class="domain_list_box">
                              <div class="domain_list_left">
                                <div class="logo_domain">
    
                                </div>
                                <div class="domain_name">Arsys</div>
                              </div>
                              <div class="domain_list_right">
                                <div class="main_domain">arsys.net</div>
                                <div class="domain_arrow">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li data-name="Bluehost">
                          <a href="javascript:;">
                            <div class="domain_list_box">
                              <div class="domain_list_left">
                                <div class="logo_domain">
    
                                </div>
                                <div class="domain_name">Bluehost</div>
                              </div>
                              <div class="domain_list_right">
                                <div class="main_domain">bluehost.com</div>
                                <div class="domain_arrow">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li data-name="Cloudflare">
                          <a href="javascript:;">
                            <div class="domain_list_box">
                              <div class="domain_list_left">
                                <div class="logo_domain">
    
                                </div>
                                <div class="domain_name">Cloudflare</div>
                              </div>
                              <div class="domain_list_right">
                                <div class="main_domain">cloudflare.com</div>
                                <div class="domain_arrow">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li data-name="DigitalOcean">
                          <a href="javascript:;">
                            <div class="domain_list_box">
                              <div class="domain_list_left">
                                <div class="logo_domain">
    
                                </div>
                                <div class="domain_name">DigitalOcean</div>
                              </div>
                              <div class="domain_list_right">
                                <div class="main_domain">digitalocean.com</div>
                                <div class="domain_arrow">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li data-name="DNSimple">
                          <a href="javascript:;">
                            <div class="domain_list_box">
                              <div class="domain_list_left">
                                <div class="logo_domain">
    
                                </div>
                                <div class="domain_name">DNSimple</div>
                              </div>
                              <div class="domain_list_right">
                                <div class="main_domain">dnsimple.com</div>
                                <div class="domain_arrow">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                      
                    </div>
                    <!-- Step-3 End -->
    
                    <!-- Step-4 Start -->
                    <div class="step_form_modal_step step_form_modal_step-4" id="step-4" style="display: none;">
                      <div class="step_form_title">
                        <h5><span>Configure your domain manually <br>by adding these records</span></h5>
                      </div>
                      <div class="bottom_login_into">
                        <p><a href="javascript:;">Log in into your domain provider to manage these settings.</a></p>
                      </div>
                      <div class="modal_form_2">
                        <div class="modal_form_2_row">
                          <div class="modal_form_2record">
                            <label for="">RECORD</label>
                            <div class="value_label">TXT</div>
                          </div>
                          <div class="modal_form_2field">
                            <label for="">HOST</label>
                            <div class="input_fld_box">
                              <input type="text" name="" id="" value="entri" class="inputfield_v2">
                              <button class="copy_btn">Copy</button>
                            </div>
                          </div>
                          <div class="modal_form_2field">
                            <label for="">REQUIRED VALUE</label>
                            <div class="input_fld_box">
                              <input type="text" name="" id="" value="entri-sample.com" class="inputfield_v2">
                              <button class="copy_btn">Copy</button>
                            </div>
                          </div>
                        </div>
                        <div class="w3n_btn_wrp">
                          <button class="w3n_btn">I have copied 0/1 records</button>
                        </div>
                      </div>
                      <div class="instruction_blk">
                        <div class="instruction_link">
                          <a href="javascript:;">
                            <i>
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 8L17 12L13 16M7 8L11 12L7 16" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </i>
                            Forward instructions to a colleague
                          </a>
                        </div>
                      </div>
                      <div class="modal_main_notice"><p>The changes may take up to 48 hours to reflect</p></div>
                    </div>
                    <!-- Step-4 End -->
                  </div>
                </form>
              </div>
              <div class="sent_modal_box" style="display: none;">
                <div class="sent_modal_wrap">
                  <div class="sent_modal_logo">
                    <img src="{% static 'images/sent-icon.svg' %}" alt="dnsdad">
                  </div>
                  <div class="sent_modal_dtl">
                    <h5><span>You're all set!</span></h5>
                    <p>If you set up the DNS records on the prior screen, <br>w3dart.com will be successfully connected.</p>
                    <div class="w3n_btn_wrp">
                      <a href="javascript:;"class="w3n_btn" data-bs-dismiss="modal" aria-label="Close">Done</a>
                    </div>
                    <div class="see_record_btn instruction_link">
                      <a href="javascript:;">
                        <i>
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 8L7 12L11 16M17 8L13 12L17 16" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </i>
                        See record again
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <input type="hidden" id="host"/>
      <input type="hidden" id="message"/>

      
{% endblock content %}