<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>
		<title>Index</title>
		<!--Stylesheet-->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="fonts/fonts.css" rel="stylesheet">
		<link href="css/slick.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">
		
		 
		<!--Stylesheet-->
	</head>
	<body>
		<div class="main-wapper">

		
			<!--Header : start-->
			<header id="header">
				<div class="container">
					<div class="header_inner flxrow">
						<div class="logo">
							<a href="#">
								<img src="images/logo.svg" alt="">
							</a>
						</div>
						<nav class="navigation_main">
							<ul class="main-menu">
								<li><a href="#">Home</a></li>
								<li><a href="#">Product</a></li>
								<li><a href="#">Feature</a></li>
								<li><a href="#">Solutions</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</nav>
						<div class="head_right">
							<a href="#">Login</a>
						</div>
					</div>
				</div>
			</header>
			<!--Header : End-->
			<section class="contain_wapper">
				<div class="home-wrap">
					<div class="home_banner_wrap">
						<div class="container">
							<div class="home_banner_txt">
								<div class="home_banner_slug_wrp">
									<div class="home_banner_slug">The API for custom domains</div>
								</div>
								<h1>Everything you need for <strong>custom domains</strong></h1>
								<p>Custom domains: The feature your users want, but your engineering team hates</p>
								<div class="w3n_btn_wrp">
									<a href="#" data-bs-toggle="modal" data-bs-target="#seedemomodal" class="w3n_btn">See a Demo</a>
								</div>
							</div>
						</div>
					</div>
					<div class="how_it_sec">
						<div class="container">
							<div class="how_it_inner">
								<div class="section-title">
									<h2>How it works</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nam maximus nisl vitae consequat hendrerit.</p>
								</div>
								<div class="how_it_slider_wrp">
									<div class="how_it_slider">
										<div>
											<div class="how_it_slider_box">
												<div class="how_it_slider_img_box">
													<img src="images/howit-slider-img-1.jpg" alt="">
												</div>
												<div class="how_it_slider_dtl">
													<div class="how_it_slider_title">
														<h6>Launch the Entri modal</h6>
														<p>Your user enters the domain they would like to set up. Alternatively, can you pass the domain directly to Entri via our JS SDK.</p>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="how_it_slider_box">
												<div class="how_it_slider_img_box">
													<img src="images/howit-slider-img-2.jpg" alt="">
												</div>
												<div class="how_it_slider_dtl">
													<div class="how_it_slider_title">
														<h6>Automatically detects the DNS Provider</h6>
														<p>Don't make your users play a guessing game. After the DNS provider is detected, the user logs in with their credentials.</p>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="how_it_slider_box">
												<div class="how_it_slider_img_box">
													<img src="images/howit-slider-img-3.jpg" alt="">
												</div>
												<div class="how_it_slider_dtl">
													<div class="how_it_slider_title">
														<h6>The required DNS records are applied</h6>
														<p>That’s it! There’s no need for copying and pasting complex records or reading cumbersome documentation.</p>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="how_it_slider_box">
												<div class="how_it_slider_img_box">
													<img src="images/howit-slider-img-3.jpg" alt="">
												</div>
												<div class="how_it_slider_dtl">
													<div class="how_it_slider_title">
														<h6>The required DNS records are applied</h6>
														<p>That’s it! There’s no need for copying and pasting complex records or reading cumbersome documentation.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="entri_sec">
						<div class="container">
							<div class="entri_inner">
								<div class="section-title">
									<h2>With DNSDAD</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nam maximus nisl vitae consequat hendrerit.</p>
								</div>
								<div class="entri_img_box">
									<img src="images/entri-image.svg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="friendly_sec">
						<div class="container">
							<div class="friendly_inner">
								<div class="section-title">
									<h2>Developer-Friendly Setup</h2>
									<p>Simply pass your desired DNS settings to the DNSDAD modal window using a configuration object. DNSDAD will then apply these <br> settings seamlessly for your end user.</p>
								</div>
								<div class="friendly_screen_wrap">
									<div class="row">
										<div class="col-lg-6">
											<div class="friendly_screen_img">
												<img src="images/friendly_img_1.png" alt="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="friendly_screen_img">
												<img src="images/friendly_img_2.png" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="integration_sec">
						<div class="container">
							<div class="integration_inner">
								<div class="section-title">
									<h2>One integration. Countless DNS providers.</h2>
									<p>We cover 75% of the market and counting.</p>
								</div>
								<div class="integration_bottom_img">
									<img src="images/integration-image.svg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="solution_sec">
						<div class="container">
							<div class="solution_inner">
								<div class="section-title">
									<h2>Best Suited For</h2>
									<p>Website Builders | Website builders often require custom domains to give users a professional online presence. DNSDAD simplifies the DNS configuration <br> process, allowing your users to effortlessly link their custom domains to your platform. Enhance your user experience with seamless domain integration.</p>
								</div>
								<div class="solution_wrap">
									<div class="row">
										<div class="col-lg-3 col-md-6">
											<div class="solution_box">
												<div class="solution_img">
													<img src="images/defult-image.png" alt="">
												</div>
												<div class="solution_drl">
													<h6>Website Builders</h6>
													<p>Website builders often require custom domains to give users a professional online presence. DNSDAD simplifies the DNS configuration process, allowing your users to effortlessly link their custom domains to your platform. Enhance your user experience with seamless domain integration.</p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6">
											<div class="solution_box">
												<div class="solution_img">
													<img src="images/defult-image.png" alt="">
												</div>
												<div class="solution_drl">
													<h6>Email Tools</h6>
													<p>Email tools need precise DNS settings to ensure reliable email delivery and authentication. DNSDAD handles these complexities, ensuring your users can easily set up custom domains for their email services. Improve deliverability and trust with our streamlined DNS solutions.</p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6">
											<div class="solution_box">
												<div class="solution_img">
													<img src="images/defult-image.png" alt="">
												</div>
												<div class="solution_drl">
													<h6>CRMs</h6>
													<p>CRMs benefit from custom domains for personalized client interactions and branding. DNSDAD makes it easy for your users to connect their custom domains to your CRM platform, providing a professional touch without the hassle of manual DNS configurations.</p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6">
											<div class="solution_box">
												<div class="solution_img">
													<img src="images/defult-image.png" alt="">
												</div>
												<div class="solution_drl">
													<h6>Marketing Automation</h6>
													<p>Marketing automation tools require custom domains for landing pages, tracking, and email campaigns. DNSDAD ensures your users can quickly and accurately configure their domains, allowing them to focus on their marketing strategies rather than technical setups.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="easy_setup_sec">
						<div class="container">
							<div class="easy_setup_inner">
								<div class="section-title">
									<h2>Easy setup. Powerful features</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nam maximus nisl vitae consequat hendrerit.</p>
								</div>
								<div class="easy_setup_wrap">
									<div class="row">
										<div class="col-lg-4 col-md-6">
											<div class="easy_setup_box">
												<div class="easy_setup_top_disc">
													<h6>Stunning User Experience</h6>
													<p>DNSDAD provides a seamless user experience, guiding users through the process of logging in with their DNS provider.</p>
												</div>
												<div class="easy_setup_img">
													<img src="images/easy-image-1.svg" alt="">
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="easy_setup_box">
												<div class="easy_setup_top_disc">
													<h6>Data rich webhooksData-Rich Webhooks</h6>
													<p>Leverage robust webhooks to notify your backend about the status of a domain. Monitor DNS record propagation, user domains, and more with ease.</p>
												</div>
												<div class="easy_setup_img">
													<img src="images/easy-image-2.png" alt="">
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="easy_setup_box">
												<div class="easy_setup_top_disc">
													<h6>Easy login forwarding</h6>
													<p>Simplify collaboration by enabling users to quickly forward the setup process to the right team member, eliminating the back-and-forth.</p>
												</div>
												<div class="easy_setup_img">
													<img src="images/easy-image-3.png" alt="">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="get_start_sec">
						<div class="container">
							<div class="get_start_inner">
								<div class="get_start_logo">
									<img src="images/get_start_icon.svg" alt="">
								</div>
								<div class="section-title">
									<h2>Join <strong>DNSDAD</strong> Today</h2>
									<p>Experience the simplicity of DNS management with DNSDAD. Join our growing community of users who have <br> made DNS configurations a breeze. Sign up today and take the first step towards effortless DNS management.</p>
									<div class="w3n_btn_wrp">
										<a href="#" class="w3n_btn">See a Demo</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Footer : start-->
			<footer id="footer">
				<div class="container">
					<div class="footer_inner">
						<div class="f_logo">
							<a href="#"><img src="images/w3dart-logo.svg" alt=""></a>
						</div>
						<div class="f_bottom">
							<div class="f_copyright"><p>Copyright © 2023 w3nuts technologies. All rights reserved.</p></div>
							<div class="f_link_blk">
								<ul class="f_link">
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms of Service</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--Footer : End-->
	</div>

	<div class="modal fade demomodal" id="seedemomodal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog  modal-dialog-centered">
			<div class="modal-content">
				<a href="javascript:void(0)" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M17.9999 17.9999L6 6M18 6L6 18" stroke="currentcolor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
				<div class="modal-body">
					<div class="modal_main_step">
						<div class="modal_main_img">
							<img src="images/modal-main-bg.svg" alt="" class="bottom_bg">
							<img src="images/modal-main-social.svg" alt="" class="top_social">
						</div>
						<div class="modal_main_dtl">
							<div class="title_modal_main">
								<h5>Example App <span>uses</span> Entri <span>to easily</span> <strong>configure your domain</strong></h5>
							</div>
							<div class="modal_main_wrp">
								<div class="modal_main_grp">
									<i>
										<img src="images/lock-icon.svg" alt="">
									</i>
									<h5>Secure</h5>
									<p>Encrypted login protects your personal data</p>
								</div>
								<div class="modal_main_grp">
									<i>
										<img src="images/check-round-icon.svg" alt="">
									</i>
									<h5>Easy</h5>
									<p>No developer needed, automatically configure your domain settings to work with Example App</p>
								</div>
							</div>
							<div class="w3n_btn_wrp">
								<a href="#"class="w3n_btn">Contiue</a>
							</div>
						</div>
						<div class="modal_main_notice"><p>By selecting "Continue" you agree to the Entri <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p></div>
					</div>
					<div class="step_form_modal" style="display: none;">
						<form action="">
							<div class="step_back">
								<a href="#">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M21 12L3 12M3 12L10.2 19M3 12L10.2 5" stroke="currentcolor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</a>
							</div>
							<ul class="step_for_pagi">
								<li class="active"></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<div class="step_form_modal_steps">
								<!-- Step-1 Start -->
								<div class="step_form_modal_step step_form_modal_step-1 active" id="step-1">
									<div class="step_form_title">
										<h5><span>What domain would you like to <br>connect with </span>Example App?</h5>
									</div>
									<div class="form_boxes">
										<div class="form_input_blk">
											<input type="text" name="" id="" class="input-field" placeholder="yourdomain.com">
										</div>
										<div class="form_input_conform">
											<input type="checkbox" name="" id="conformation">
											<label for="conformation">I want to use a subdomain</label>
										</div>
										<div class="w3n_btn_wrp">
											<button class="w3n_btn">Contiue</button>
										</div>
									</div>
								</div>
								<!-- Step-1 End -->

								<!-- Step-2 Start -->
								<div class="step_form_modal_step step_form_modal_step-2" id="step-2" style="display: none;">
									<div class="step_form_title">
										<h5><span>Analyzing your domain...</span></h5>
									</div>
									<div class="analyze_wrap">
										<ul class="analyze_blk">
											<li class="active">Analyzed w3dart.com</li>
											<li class="active">Detected DNS Provider: GoDaddy</li>
											<li>Getting your setup ready.</li>
										</ul>
									</div>
									<div class="w3n_btn_wrp">
										<a href="#"class="w3n_btn">Contiue</a>
									</div>
								</div>
								<!-- Step-2 End -->
 
								<!-- Step-3 Start -->
								<div class="step_form_modal_step step_form_modal_step-3 loding-screen" id="step-3" style="display: none;">
									<div class="step_form_title">
										<h5><span>Select your provider</span></h5>
									</div>
									<div class="search_filter form_input_blk">
										<input type="text" name="" id="" class="input-field" placeholder="Search for your provider">
									</div>
									<ul class="search_filter_list">
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="domain_list_box">
													<div class="domain_list_left">
														<div class="logo_domain">

														</div>
														<div class="domain_name">123-Reg</div>
													</div>
													<div class="domain_list_right">
														<div class="main_domain">123-reg.com</div>
														<div class="domain_arrow">
															<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M1.5 6L10.5 6M10.5 6L6.9 9.5M10.5 6L6.9 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														</div>
													</div>
												</div>
											</a>
										</li>
									</ul>
									
								</div>
								<!-- Step-3 End -->
 
								<!-- Step-4 Start -->
								<div class="step_form_modal_step step_form_modal_step-4" id="step-4" style="display: none;">
									<div class="step_form_title">
										<h5><span>Configure your domain manually <br>by adding these records</span></h5>
									</div>
									<div class="bottom_login_into">
										<p><a href="#">Log in into your domain provider to manage these settings.</a></p>
									</div>
									<div class="modal_form_2">
										<div class="modal_form_2_row">
											<div class="modal_form_2record">
												<label for="">RECORD</label>
												<div class="value_label">TXT</div>
											</div>
											<div class="modal_form_2field">
												<label for="">HOST</label>
												<div class="input_fld_box">
													<input type="text" name="" id="" value="entri" class="inputfield_v2">
													<button class="copy_btn">Copy</button>
												</div>
											</div>
											<div class="modal_form_2field">
												<label for="">REQUIRED VALUE</label>
												<div class="input_fld_box">
													<input type="text" name="" id="" value="entri-sample.com" class="inputfield_v2">
													<button class="copy_btn">Copy</button>
												</div>
											</div>
										</div>
										<div class="w3n_btn_wrp">
											<button class="w3n_btn">I have copied 0/1 records</button>
										</div>
									</div>
									<div class="instruction_blk">
										<div class="instruction_link">
											<a href="#">
												<i>
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M13 8L17 12L13 16M7 8L11 12L7 16" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
													</svg>
												</i>
												Forward instructions to a colleague
											</a>
										</div>
									</div>
									<div class="modal_main_notice"><p>The changes may take up to 48 hours to reflect</p></div>
								</div>
								<!-- Step-4 End -->
							</div>
						</form>
					</div>
					<div class="sent_modal_box" style="display: none;">
						<div class="sent_modal_wrap">
							<div class="sent_modal_logo">
								<img src="images/sent-icon.svg" alt="">
							</div>
							<div class="sent_modal_dtl">
								<h5><span>You're all set!</span></h5>
								<p>If you set up the DNS records on the prior screen, <br>w3dart.com will be successfully connected.</p>
								<div class="w3n_btn_wrp">
									<a href="#"class="w3n_btn" data-bs-dismiss="modal" aria-label="Close">Done</a>
								</div>
								<div class="see_record_btn instruction_link">
									<a href="#">
										<i>
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11 8L7 12L11 16M17 8L13 12L17 16" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</i>
										See record again
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!--JavaScript-->
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/script.js"></script>
		<!--JavaScript-->
	</body>
</html>