{%load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon"/>
		<title>DNSDAD</title>
		<!--Stylesheet-->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<!--Stylesheet-->
	</head>
	<body>
		
		{%block content%} 
		{%endblock content%}

			
		{% csrf_token %}
		<!--JavaScript-->
		<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

		<script>
			$.ajaxSetup({
					headers: {
						'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
					}
			});

			var hide_pass ="{% static 'images/pass-hide.svg' %}";
			var pass_show ="{% static 'images/pass-show.svg' %}";

		</script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script>
			$(document).ready(function(){
				
				$("#evt_password").click(function(){
					var inputField = $('#password');
					var currentType = inputField.attr('type');
					if (currentType === 'text') {
						$(this).attr('src', hide_pass)
						inputField.attr('type', 'password');
					} else {
						$(this).attr('src', pass_show)
						inputField.attr('type', 'text');
					}
				});
				$("#evt_cpassword").click(function(){
					var inputField = $('#cpassword');
					var currentType = inputField.attr('type');
					if (currentType === 'text') {
						$(this).attr('src', hide_pass)
						inputField.attr('type', 'password');
					} else {
						$(this).attr('src', pass_show)
						inputField.attr('type', 'text');
					}
				});
				$("#evt_new_password1").click(function(){
					var inputField = $('#id_new_password1');
					var currentType = inputField.attr('type');
					if (currentType === 'text') {
						$(this).attr('src', hide_pass)
						inputField.attr('type', 'password');
					} else {
						$(this).attr('src', pass_show)
						inputField.attr('type', 'text');
					}
				});
				$("#evt_new_password2").click(function(){
					var inputField = $('#id_new_password2');
					var currentType = inputField.attr('type');
					if (currentType === 'text') {
						$(this).attr('src', hide_pass)
						inputField.attr('type', 'password');
					} else {
						$(this).attr('src', pass_show)
						inputField.attr('type', 'text');
					}
				});
			});
		</script>
	</body>
</html>