{% extends 'auth/auth_base.html' %}
{%load static %}

{% block content %}
		<div class="signup_wrap">
			<div class="signup_dtl">
				<div class="signup_wrapper">
					<div class="login_img">
						<div class="img_inner">
							<img src="{% static 'images/login-img.svg' %}" alt="">
						</div>
					</div>
					<div class="login_form">
						<div class="login_logo">
							<img src="{% static 'images/login-logo.svg' %}" alt="">
						</div>
						<div class="login_form_detail">
							<div class="login_ttl">
								<h3>Signup</h3>
								<p>Get started with a free account.</p>
							</div>
							<form  method="POST" action="{% url 'sign_up' %}" name="register" id="register"  autocomplete="off">
                                {% csrf_token %}
									<div class="login_inner">
                                        {% comment %} <div class="inner_form">
											<label for="fname" class="elable">First Name</label>
											<input type="text" name="fname" id="fname" placeholder="First Name" value="{{ fieldValues.fname }}" required>
										</div>
                                        <div class="inner_form">
											<label for="lname" class="elable">Last Name</label>
											<input type="text" name="lname" id="lname" placeholder="Last Name" value="{{ fieldValues.lname }}" required>
										</div> {% endcomment %}
                                        <div class="inner_form">
											<label for="uname" class="elable">User Name</label>
											<input type="text" name="uname" id="uname" placeholder="User Name" autocomplete="off" value="{{ fieldValues.uname }}" required>
										</div>
										<div class="inner_form">
											<label for="email" class="elable">Email Address</label>
											<input type="email" name="email" id="email" value="{{ fieldValues.email }}"  autocomplete="off" required placeholder="johnsmith@hotmail.com">
										</div>
										<div class="inner_form">
											<label for="password" class="elable">Password</label>
											<div class="pswrap">
												<input type="password" name="password"  autocomplete="off" id="password" placeholder=". . . . . . . . . .">
												<a href="javascript::" id="evt_password"><img src="{% static 'images/showpassword.svg' %}" alt="password"></a>
											</div>
										</div>
										<div class="inner_form">
											<label for="cpassword" class="elable">Confirm Password</label>
											<div class="pswrap">
												<input type="password" name="cpassword" id="cpassword"  autocomplete="off" placeholder=". . . . . . . . . .">
												<a href="javascript:;" id="evt_cpassword"><img src="{% static 'images/showpassword.svg' %}" alt="password"></a>
											</div>
										</div>
									</div>
									<div class="check_pass">
										<div class="checkwrap">
											<input type="checkbox" class="variablecheck">
											<span>You agree to DNSDAD’s <a href="javascript">Terms</a> and <a href="javascript:;">Privacy Policy</a></span>
										</div>
									</div>
									<div class="btnbox">
                                        <button type="submit" class="l_btn">Register</button>
										{% comment %} <a href="#" class="l_btn">Login</a> {% endcomment %}
									</div>
									{% comment %} <div class="or_wrap">
										<hr>
										<span>OR</span>
										<hr>
									</div>
									<div class="two_btn">
										<div class="btn_box">
											<a href="javascript:;">
												<i><img src="{% static 'images/google.svg' %}" alt=""></i>
												<span>Login with Google</span>
											</a>
										</div>
										<div class="btn_box">
											<a href="javascript:;">Continue with SSO</a>
										</div>
									</div> {% endcomment %}
							</form>
						</div>
						<div class="account_sign">
							<span>Didn’t have an account?<a href="{% url 'sign_in' %}">Signin</a></span>
						</div>
					</div>
				</div>	
			</div>
		</div>
{% endblock content %}